*.out
*.vcd
*.gen
*.ps
*.eps
*.zip
*.aux
*.pdf
*.dvi
*~
.*.swp
*.[od]
*.py[co]
.TRACK-*FLAGS

/lsalsa
/hd
/gkr-decrypt
/test-pm-timer
/debugfs-test
/utime
/test-dep
/modll
/pipe
/unix-test
/dripper
set-qf-union
set-qu-union
set-to-dot
test-netlink
usbreset
hub-ctrl
test-type-info
oops2line

/parse-datetime.c
p32
p64
uinput

login.keyring
user.keystore
