*.out
*.vcd
*.gen
*.ps
*.eps
*.zip
*.aux
*.pdf
*.dvi
*~
.*.swp
*.[od]
*.py[co]
.TRACK-*FLAGS

/lsalsa
/hd
/gkr-decrypt
/test-pm-timer
/debugfs-test
/utime

/parse-datetime.c

login.keyring
user.keystore
