CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${HOME}/src"
CT_SAVE_TARBALLS=y
CT_LOG_EXTRA=y
CT_ARCH_CPU="cortex-m3"
CT_ARCH_TUNE="cortex-m3"
CT_ARCH_FLOAT_SW=y
CT_TARGET_CFLAGS="-Os"
CT_TARGET_LDFLAGS="-Wl,--as-needed"
CT_MULTILIB=y
# CT_ARCH_USE_MMU is not set
CT_ARCH_ARM_MODE_THUMB=y
CT_TARGET_VENDOR="bare_newlib_cortex_m3_nommu"
CT_BINUTILS_PLUGINS=y
CT_CC_V_4_7_2=y
# CT_CC_STATIC_LIBSTDCXX is not set
